/* Write your CSS here */
.notification {
  border: 1px solid #e5e5e5;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.content {
  display: flex;
}
.close-icon {
  min-height: 70px;
  color: #475569;
  min-width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
